*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
}

.result {
  min-width: 711px;
}

.result__video-container {
  position: relative;
  width: 100%;
  margin-bottom: 11px;
}

.result__video {
  width: 100%;
  height: 386px;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__textfield {
  min-width: 225px;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield:focus {
  border: none;
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: fit-content;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
} 

.search-form__pseudo-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
  background-color: transparent;
}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__label-text:hover {
  text-decoration: underline #fff;
  cursor: pointer;
}

.search-form__pseudo-checkbox:focus {
  outline: none;
}

.search-form__label-text {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

.button {
  height: 34px;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:focus {
  border: none;
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.search-form__submit-button {
  width: 194px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 399px;
}

.title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  width: 395px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 399px;
}

.content__video-card-thumbnail {
  min-width: 201px;
  max-height: 112px;
  cursor: pointer;
}

.content__video-card-title {
  overflow: hidden;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase; 
  text-overflow: ellipsis; 
  white-space: nowrap;
}

.content__video-card-description {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.9;
}

.content__card-link {
  display: block;
  margin: 2px;
  padding-left: 2px;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: #fff underline;
  cursor: pointer;
}

.content__card-link:focus {
  border: none;
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.more-button {
  width: 100%;
}